body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .container, .footer {
    background-color: #1f2937;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;
}
li {
    margin-bottom: 16px;
}
a {
    color: #e5e7eb;
    font-size: 12px;
    text-decoration: none;
}

h1 {
    font-size:48px ;
    font-weight: 900;
    color: #f9faf8;
    padding-bottom: 0px;
    margin: 0;
}

.container p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
   background-color: #3882f6;
   color: white;
   border-radius: 8px;
   padding: 4px 8px;
   border: none;
}

.add {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 20px;
}

.content {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    background-color: #f9faf8;
}

.text-block {
    font-size: 18px;
    color: #808080;
}

.quotes {
    background-color: #e5e7eb;
}

#quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.author {
    color: #1f2937;
    font-size: 18px;
    font-weight: bolder;
}

.footer {
    color: #e5e7eb;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around ;
    padding: 4px 10px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 150px;
    padding-bottom: 80px;
    gap: 50px;
    flex: 1;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 600px;
}

.content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.title {
    padding-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    max-width: 275px;
    flex-basis: 100%;
}

.content img {
    border-radius: 4%;
    border: #3882f6 solid 3px;
}

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 4px;
}

#quote {
    display: flex;
    max-width: 1200px;
    height: 100px;
    margin: 0;
    padding: 0;
    /*border: #1f2937 solid;*/
}
/* made an overlap with height dimensios,
idk if this is proper to do so*/

.author {
    margin-left: 1000px;
    margin-top:0;
    padding: 0;
}

.add {
 display: flex;
 height: 120px;
 width: 1000px;
 margin: auto;
 margin-top: 60px;
 margin-bottom: 60px;
 border-radius: 8px;
 justify-content: space-around;
 align-items: center;
}
 .add button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    border-radius: 8px;
    padding: 4px 14px;
    margin: 46px 0;
 }
 
 h4 {
    margin-bottom: 0;
 }

 .add p {
    margin-top: 0;
 }

 .footer {
    display: flex;
   height: 60px;
   justify-content: center;
   align-items: center;
}
